:root {
    --primary: #ddd;
    --dark: #333;
    --light: rgb(243, 234, 234);
    --light-blue: rgb(169, 222, 222);
    --black: rgb(74, 82, 82);
    --shadow: 0 1px 5px rgba(104,104,104, 0.8);
    --title-color: rgb(135, 125, 116);
}

body {

    background: var(--primary);
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}

.wrapper {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    gap: 30px;
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

.answer {
    list-style: circle;
    text-align: left;
    display: flex;
}

nav ul {
    background: var(--dark);
    box-shadow: var(--shadow);
    padding: 20px;
}
nav li {
    display: inline;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav li:hover {
    background-color: white;
    color: black;
}

.body-section {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
            'quiz-board score-board ads-box'; 
}

button {
    padding: 10px;
    margin: 100px;
}

ul:last-child {
    color:white;
}


footer {
    border: 1px solid;
    background: var(--dark);
    color: white;
    text-align: center;
    padding: 10px;
}



.ads-box {
    grid-area: ads-box;
    background: white;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.quiz-board {
    grid-area: quiz-board;
}

.score-board {
    grid-area: score-board;
}

.ads-box div {
    border: 1px dotted;
    padding: 80px;
    text-align: center;
}

li {
    list-style: none;
}

ul {
    align-content: center;
}


@media(max-width: 780px) {
    .body-section {
        grid-template-areas:
            'quiz-board'
            'score-board'
            'ads-box';
    }
    .quiz-board {
        width: 100vw;
    }
    /* .box-3 {
        grid-template-areas:
          
            'quiz-board'
            'ascore-board'
            'ads-box';
    } */
}